Select state:
<select [(ngModel)]="state">
    <option *ngFor="let s of states">{{s}}</option>
</select>
<div *ngIf="state" [ngSwitch]="state">
    cities:
    
        <div *ngSwitchCase="'AndhraPradesh'">
            <select>
                <option *ngFor="let c1 of AndhraPradesh">{{c1}}</option>
            </select>
        </div>
        <div *ngSwitchCase="'telangana'">
            <select>
                <option *ngFor="let c1 of telangana">{{c1}}</option>
            </select>
        </div>
        <div *ngSwitchCase="'tamilnadu'">
            <select>
                <option *ngFor="let c1 of tamilnadu">{{c1}}</option>
            </select>
        </div>

</div>