<table class='table'>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
    </tr>
    <tr *ngFor="let p of products| paginate:{itemsPerPage:3,currentPage:p}">
        <td>{{p.id}}</td>
        <td>{{p.nmae}}</td>
        <td>{{p.price}}</td>
        <td><a routerLink="/update" [state]="{product:p}" class="btn btn-info">update</a></td>
        <td><button (click)="removeProduct(p.id)" class="btn btn-danger">Delete</button></td>
    </tr> 
</table>
<a routerLink ="/add" class="btn btn-primary">Add</a>
<pagination-controls style="border-radius: 10px" (pageChange)="p=$event"></pagination-controls>